/*media aanpassingen*/
.listitem-container {
    display: flex;
    height: 150px;
    align-items: center;
}

/*media aanpassingen*/
.listitem-inner-container {
    display: flex;
    padding-left: 20px;
}

/*media aanpassingen*/
.listitem-image-container {
    position: relative;
    width: 120px;
    height: 120px;
    margin-block: 10px;
    margin-inline: 10px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 20px 10px rgba(0, 0, 0, 0.5);
}

.listitem-shadow::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
}

.listitem-image {
    width: 100%;
    border-radius: 10px;
}

.listitem-name {
    font-weight: 200;
}

/*media aanpassingen*/
.listitem-description {
    display: flex;
    align-items: center;
    width: 290px;
    height: 80px;
    margin-block: 30px;
    margin-inline: 20px;
}

/*media aanpassingen*/
/*Kleine computerschermen: vanaf 992px;*/
/*Standaard computerschermen: vanaf 1200px;*/
/*Grote computerschermen: vanaf 1600px;*/
@media screen and (min-width: 993px) and (max-width: 1150px) {

}

/*Tablets: vanaf 768px;*/
@media screen and (min-width: 769px) and (max-width: 992px) {

}


/*Telefoons in landscape: van 576px tot 768px;*/
@media screen and (min-width: 577px) and (max-width: 768px) {

}

/*Telefoons in portrait: tot 576px;*/
@media screen and (max-width: 575px) {
    .listitem-container {
        justify-content: center;
        height: calc(100vw - 20px);
        margin-top: 0;
    }

    .listitem-inner-container {
        flex-direction: column;
        padding-left: 0;
    }

    .listitem-image-container {
        width: calc(100vw - 120px);
        height: calc(100vw - 120px);
        margin-block: 0;
        margin-inline: 0;
    }

    .listitem-description {
        width: calc(100vw - 120px);
        height: 80px;
        margin-block: 0;
        margin-inline: 0;
    }
}
