/*media aanpassingen*/
.listview-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100%;
    top: 0;
    margin-top: 20px;
    align-items: center;
}

/*media aanpassingen*/
.listview-wrap-container {
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

/*media aanpassingen*/
/*Kleine computerschermen: vanaf 992px;*/
/*Standaard computerschermen: vanaf 1200px;*/
/*Grote computerschermen: vanaf 1600px;*/
@media screen and (min-width: 993px) and (max-width: 1150px) {

}

/*Tablets: vanaf 768px;*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    .listview-wrap-container {
        width: 490px;
    }
}


/*Telefoons in landscape: van 576px tot 768px;*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    .listview-wrap-container {
        width: 490px;
    }
}

/*Telefoons in portrait: tot 576px;*/
@media screen and (max-width: 575px) {
    /*media aanpassingen*/
    .listview-container {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    .listview-wrap-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: calc(100vw - 120px);
        margin-top: 20px;
    }
}