/*media aanpassingen*/
.favorites-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100%;
    top: 0;
    margin-top: 20px;
    align-items: center;
}

/*media aanpassingen*/
.favorites-wrap-container {
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.favorites-fill .material-symbols-outlined {
    vertical-align: sub;
    color: #a0a0a0;
    font-size: 1em;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    font-variation-settings:
            'FILL' 1,
            'wght' 100,
            'GRAD' 0,
            'opsz' 48
}

/*Tablets: vanaf 768px;*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    .favorites-wrap-container {
        width: 490px;
    }
}

/*Telefoons in landscape: van 576px tot 768px;*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    .favorites-wrap-container {
        width: 490px;
    }
}

/*Telefoons in portrait: tot 576px;*/
@media screen and (max-width: 575px) {
    /*media aanpassingen*/
    .favorites-container {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    .favorites-wrap-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: calc(100vw - 120px);
        margin-top: 20px;
    }
}