.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3f3e3e;
    background-image: url("./assets/noise-texture.png");
}

.outer-container {
    /*height: calc(100vh - 200px);*/
}

/*media aanpassingen*/
h1 {
    font-size: 5em;
    font-weight: lighter;
    color: white;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    font-weight: lighter;
    color: white;
    padding-bottom: 7px;
}

h3 {
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 5px;
    color: white;
    padding-top: 5px;
}

h4 {
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    color: white;
    padding-bottom: 7px;
}

p {
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.6;
    color: white;
}

/*Kleine computerschermen: vanaf 992px;*/
/*Standaard computerschermen: vanaf 1200px;*/
/*Grote computerschermen: vanaf 1600px;*/
@media screen and (min-width: 993px) and (max-width: 1150px) {

}

/*Tablets: vanaf 768px;*/
@media screen and (min-width: 769px) and (max-width: 992px) {

}


/*Telefoons in landscape: van 576px tot 768px;*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    /*media aanpassingen*/
    h1 {
        font-size: 4em;
        /*font-weight: lighter;*/
        /*color: white;*/
        /*text-align: center;*/
    }
}

/*Telefoons in portrait: tot 576px;*/
@media screen and (max-width: 576px) {
    /*media aanpassingen*/
    h1 {
        font-size: 3em;
        /*font-weight: lighter;*/
        /*color: white;*/
        /*text-align: center;*/
    }
}